<nav>
  <ul style="list-style-type: none; padding: 0; margin: 0; background-color: #3498db; overflow: hidden;">
    <li style="float: left;">
      <a routerLink="/empleado/list-empleados" routerLinkActive="active" style="display: block; color: rgb(0, 0, 0); text-align: center; padding: 14px 16px; text-decoration: none;">Empleados</a>
    </li>
    <li style="float: left;">
      <a routerLink="/premio/list-premios" routerLinkActive="active" style="display: block; color: rgb(0, 0, 0); text-align: center; padding: 14px 16px; text-decoration: none;">Premios</a>
    </li>
    <li style="float: left;">
      <a routerLink="/puntaje/list-puntajes" routerLinkActive="active" style="display: block; color: rgb(0, 0, 0); text-align: center; padding: 14px 16px; text-decoration: none;">Puntaje</a>
    </li>
  </ul>
</nav>
